{% extends 'base.html' %}
{% block title %}
About Us
{% endblock %}
{% block body %}
    <div class="container-fluid px-0">
        <img src="static/img/about/main3.jpg" alt="Snow" style="width:100%;">
    </div>
    <div class="container-fluid px-0 py-0" style="background-image: url(static/img/about/main.jpg); text-align: center; color: white; display: inline-block">
        <h1 class="my-2">About Us</h1>
        <p>&nbsp;</p>
        <h1><span style="font-size: 30pt;">Welcome to the <strong
                style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: #0e76bc; background: transparent;">MSP Gaming Community</strong>!</span>
        </h1>
        <p><img src="static\img\about\logo.jpg" alt=""
                                            width="165" height="165"></p>
        <p>&nbsp;<span style="font-size: 18pt;">We are a&nbsp;multi-game community currently serving <strong>PC gamers</strong> across various titles.&nbsp; IGC is a&nbsp;group of semi-hardcore players who have gathered together under a single banner to game together and build lasting friendships! </span>
        </p>
        <p><span style="font-size: 18pt;">Each of us has a passion for gaming and we are always looking to expand our ranks across all our groups.</span>
        </p>
        <p><span style="font-size: 18pt;">Our community is home to&nbsp;a variety of games from MMORPGs to Tabletop RPGs! As you can see above we support several games, each with a 50% or better unique playerbase.&nbsp; So while there are members part of many groups, you can count on there being a dedicated group for each game.</span>
        </p>
        <p><span style="font-size: 18pt;">We are always looking to host new games to build and maintain solid teams and friendships which will make their mark on the gaming world.&nbsp; To achieve this we are always on the hunt for talented players as well as talented leaders!&nbsp; If that's you, check us out on our Discord server and we can talk!</span>
        </p>
    </div>
{% endblock %}
