{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block body %}
    <div class="p-4 p-md-5 mb-4 text-white rounded " style="background-image: url(static/img/blog/upper.jpg)">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">HOW PLAYING VIDEO GAMES CAN BE A GOOD THING</h1>
            <p class="lead my-3">Most of the time you probably look at games as a waste of time, or many people do
                anyway. They consume time that could be used for other things, like reading or spending time in the
                outdoors. However, there are important things that you can get out of your time playing video games.</p>
            <p class="lead mb-0"><a href="blog-1" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">The best PC games right now</h3>
                    <div class="mb-1 text-muted">July 12</div>
                    <p class="card-text mb-auto">If you're looking for a more comprehensive list which includes our
                        favorite games from the past few decades, check out our yearly Top 100 list or our list of the
                        most important PC games.</p>
                    <a href="#">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="static/img/blog/feature2.jpg" class="d-block w-100" alt="...">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">How?</strong>
                    <h3 class="mb-0">WAYS TO IMPROVE YOUR GAMING SKILLS</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">Just like any skill, if you want to be master it, then you need to devote time to
                        practicing. Most hardcore eSports competitors' full-time jobs are actually playing video games.
                    </p>
                    <a href="#">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="static/img/blog/howto.jpg"  alt="...">


                </div>
            </div>
        </div>
    </div>


    <main class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 font-italic border-bottom">
                    From the MSP Gaming Community
                </h3>

                <div class="blog-post">
                    <h2 class="blog-post-title">BEST VIDEO GAMES THAT TRAIN YOUR BRAIN</h2>
                    <p class="blog-post-meta">January 1, 2014 by Mark</p>

                    <p>Studies have shown that playing video games provides several benefits. Other than entertaining
                        people, it also helps train the brain and improve social skills. In addition, other research
                        have noted the educational and therapeutic uses of these video games.</p>
                    <hr>
                    <p>People in search of brain challenging games have a wide choice today. There are the so-called
                        brain apps that can help players perform a variety of tasks and even take control of their
                        emotional state. They are called as such as their main objective is to train a person’s
                        brain.</p>
                    <blockquote>
                        <p>In recent years, the number of video games that challenge the brain has grown. The Nintendo
                            DS pioneered the Brain Age game and since that time, more quality titles have been
                            developed. Those using the iOS have plenty of options to choose from inside the App
                            Store.</p>
                    </blockquote>
                    <p>There are plenty of brain teasing video games you can find online these days. Whatever your
                        objective is, you can surely find one that will give you a fun and enriching time. Game-focused
                        websites and those that share tips such as F3Y are great online resources to visit.</p>
                    <h3>BRAIN SCHOOL</h3>
                    <p>This app features 20 addictive puzzles that will challenge your brain. The games are divided into
                        four years and have five difficulty levels. It’s like you’re attending college progressing into
                        the more difficult levels.</p>
                    <h3>COGNIFIT BRAIN FITNESS</h3>
                    <p>This app features fun games specially designed by neuroscientists aimed at improving memory and
                        concentration. Users have the opportunity to monitor their progress and check insights
                        concerning their brain health.</p>
                    <p>At the beginning, a user is given a quiz afterwhich the app adapts the difficulty level of the
                        game to your profile. Improvement can be seen for users who play the games at least twice to
                        three times per week.</p>
                    <h3>LUMINOSITY</h3>
                    <p>Luminosity is a popular app with three mini games. It helps improve memory, attention, problem
                        solving and thinking skills.</p>
                    <p>Simply by playing one session each day, a user can already improve his mental skills and monitor
                        their progress onward. Apart from better memory, users can also expect to improve their
                        mood.</p>

                </div><!-- /.blog-post -->

                <div class="blog-post">
                    <h2 class="blog-post-title">Game of the Year 2020, And 9 Others</h2>
                    <p class="blog-post-meta">December 23, 2013 by Jacob</p>

                    <p>Somehow we’ve made it into a whole new decade. It’s 2020 now, and that’s problematic because I’m
                        still struggling to remember that it’s not the early 2000’s. But anyway, with the coming of a
                        new year means reflection on the last one. I’ve seen some people who appear quite disappointed
                        with 2019, and while I’d certainly agree it wasn’t a vintage year there were still a lot of
                        awesome games released. And I’m going to subject you to the horror of having to read my list of
                        which ones I thought were the best of the best, the crème of the crop, the champions of
                        2019.</p>
                    <blockquote></blockquote>
                    <p>I say this every year but it bears repeating: due to time or a lack money or a combination of
                        both there are games I just never get around to playing, or wind up playing far too late. So,
                        here’s some honourable mentions of the games that very well might have made it onto this list if
                        I had actually played them; Outer Worlds, Sekiro: Shadows Die Twice, Metro: Exodus, Super Mario
                        Maker 2, Astral Chain, Pheonix Point and a whole bunch more I probably can’t remember.</p>
                </div><!-- /.blog-post -->

                <div class="blog-post">
                    <h2 class="blog-post-title">Ubisoft posts 'Far Cry 6' teaser starring Giancarlo Esposito</h2>
                    <p class="blog-post-meta">December 14, 2013 by Chris</p>
                    <p>A listing for the game leaked on Hong Kong's PlayStation Store this morning.</p>
                    <p>This morning, a listing for Far Cry 6 leaked on the Hong Kong version of the PlayStation Store,
                        Polygon reports. Ubisoft hasn’t officially announced the game, a sequel to Far Cry New Dawn, but
                        following the leak, the company tweeted a teaser that confirms it.</p>
                    <p>Screenshots from the leak show Giancarlo Esposito (aka Gus Fring of Breaking Bad) as the game’s
                        lead. Ubisoft’s tweet reads, “Anton would not be pleased,” and it shows a seven-second clip of
                        Esposito taking a deep drag of a cigar.</p>
                    <p>Based on the screenshots, it appears Esposito’s character, Anton Castillo, is the dictator of
                        Yara, “a tropical paradise frozen in time.” Castillo’s “ruthless oppression” ignites a
                        revolution, and players will assume the role of Dani Rojas, a guerilla fighter battling
                        Castillo’s military.</p>
                    <p>It’s not clear if Ubisoft originally planned to announce Far Cry 6 at its Ubisoft Forward
                        showcase this Sunday, but thanks to this leak, we can expect more details from the digital
                        event. The leaked screenshots list the release date as February 18th, 2021.</p>
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
                </nav>

            </div>

            <aside class="col-md-4">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">About Blog</h4>
                    <p class="mb-0">New game studios pop up all the time and they’re always looking to collab with
                        bloggers & game journalists. Gaming blogs are great because they offer news coverage, game
                        reviews, and press.</p>
                </div>

                <div class="p-4">
                    <h4 class="font-italic">Archives</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">March 2014</a></li>
                        <li><a href="#">February 2014</a></li>
                        <li><a href="#">January 2014</a></li>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                        <li><a href="#">October 2013</a></li>
                        <li><a href="#">September 2013</a></li>
                        <li><a href="#">August 2013</a></li>
                        <li><a href="#">July 2013</a></li>
                        <li><a href="#">June 2013</a></li>
                        <li><a href="#">May 2013</a></li>
                        <li><a href="#">April 2013</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="font-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </aside>

        </div><!-- /.row -->

    </main>
{% endblock %}