{% extends 'blogtemplete.html' %}

{% block blogno %}
    1
{% endblock %}


{% block image %}
    <img src="static/img/blog/detailblog/blog-1.jpg" alt="Snow" style="width:100%;">
{% endblock %}


{% block blogbody %}
    <h2 class="blog-post-title">BEST VIDEO GAMES THAT TRAIN YOUR BRAIN</h2>
    <p class="blog-post-meta">January 1, 2014 by Mark</p>

    <p>Studies have shown that playing video games provides several benefits. Other than entertaining
        people, it also helps train the brain and improve social skills.<br> In addition, other research
        have noted the educational and therapeutic uses of these video games.</p>
    <hr>
    <p>People in search of brain challenging games have a wide choice today. There are the so-called
        brain apps that can help players perform a variety of tasks and<br> even take control of their
        emotional state. They are called as such as their main objective is to train a person’s
        brain.</p>
    <blockquote>
        <p>In recent years, the number of video games that challenge the brain has grown. The Nintendo
            DS pioneered the Brain Age game and since that time, more quality<br> titles have been
            developed. Those using the iOS have plenty of options to choose from inside the App
            Store.</p>
    </blockquote>
    <p>There are plenty of brain teasing video games you can find online these days. Whatever your
        objective is, you can surely find one that will give you a fun and<br> enriching time. Game-focused
        websites and those that share tips such as F3Y are great online resources to visit.</p>
    <h3>BRAIN SCHOOL</h3>
    <p>This app features 20 addictive puzzles that will challenge your brain. The games are divided into
        four years and have five difficulty levels. It’s like you’re attending <br>college progressing into
        the more difficult levels.</p>
    <h3>COGNIFIT BRAIN FITNESS</h3>
    <p>This app features fun games specially designed by neuroscientists aimed at improving memory and
        concentration. Users have the opportunity to monitor their<br> progress and check insights
        concerning their brain health.</p>
    <p>At the beginning, a user is given a quiz afterwhich the app adapts the difficulty level of the
        game to your profile. Improvement can be seen for users who play <br>the games at least twice to
        three times per week.</p>
    <h3>LUMINOSITY</h3>
    <p>Luminosity is a popular app with three mini games. It helps improve memory, attention, problem
        solving and thinking skills.</p>
    <p>Simply by playing one session each day, a user can already improve his mental skills and monitor
        their progress onward. Apart from better memory,<br> users can also expect to improve their
        mood.</p>
{% endblock %}

